<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="stylesheet" href="/stylesheets/NavigationAdmin.css">
<link rel="stylesheet" href="/stylesheets/AdManageHistoryFullDetails.css">

<body>
    <!-- SIDE BAR -->
    <aside class="Sidebar">
        <div class="LogoHeaderCont">
            <img src="/images/cmulogo.png" alt="CMU LOGO">
            <h1>CMU RRMS</h1>
        </div>
    
    <!-- Sidebar Links -->
        <nav>
            <a href="/AdDashboardRoute" class="SidebarLinks">
                <i class="fa-solid fa-gauge"></i>
                <label for="">Dashboard</label>
            </a>
            <a href="/AdCreateAccountRoute" class="SidebarLinks">
                <i class="fa-solid fa-user-plus"></i>
                <label for="">Add Account</label>
            </a>
            <a href="/AdManageRoomRoute" class="SidebarLinks active">
                <i class="fa-solid fa-table-list"></i>
                <label for="">Manage Rooms</label>
            </a>
        </nav>
    </aside>

    <main class="MainContent">
        <header class="HeaderNavigation">
            <!-- dropdown button -->
            <div class="Dropdown">
                <button id="DropdownBtn">
                    <label class="Username">Forlaje</label>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                
                <div id="DropdownContent">
                    <a href="">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <label for="">Logout</label>
                    </a>
                </div>
            </div>
        </header>
       

        <section class="InformationContainer">
            <button onclick="history.back()" id="BackBtn"><i class="fa-solid fa-arrow-left"></i>Back</button>
            <div class="BookingDetails">
                <p><strong>Room name:</strong> <%= BookingDatas[0].RoomName %> </p>
                <p><strong>Date:</strong> <%= BookingDatas[0].FormattedDate %> </p>
                <p><strong>Username:</strong> <%= BookingDatas[0].Username %> </p>
                <p><strong>Time:</strong> <%= BookingDatas[0].FormattedStartTime %> - <%= BookingDatas[0].FormattedEndTime %> </p>
            </div>
            
            <div class="ReportDetails">
                <h6>Remarks: </h6>
                <p><%= BookingDatas[0].Remarks %></p>

                <div class="ImagesDetails">
                    <h6>Before Reservation Images: </h6>
                    <div class="ImagesContainer">
                        <% BookingDatas[0].AfterImages.forEach((image) => { %>
                            <img src="/<%= image %>" >
                        <% }) %>
                        
                    </div>
                    
                </div>

                <div class="ImagesDetails">
                    <h6>After Reservation Images: </h6>
                    <div class="ImagesContainer">
                        <% BookingDatas[0].BeforeImages.forEach((image) => { %>
                            <img src="/<%= image %>" >
                        <% }) %>
                        
                    </div>
                    
                </div>
            </div>
            
        </section>
        
        
        <div class="OuterImage Inactive">
            <img id="ZoomedImg" alt="Zoomed Image">
            <i class="fa-solid fa-xmark" id="XZoomedImg"></i>
        </div>

    </main>


    
</body>
<script>
    const Images = document.querySelectorAll(".ImagesContainer img");
    const XZoomedImg = document.getElementById("XZoomedImg");
    const OuterImage = document.querySelector(".OuterImage");


    Images.forEach((image) => {
        image.addEventListener("click", () => {
            OuterImage.classList.remove("Inactive")
            OuterImage.classList.add("Active")
            ZoomedImg.src = image.src;
        });
    });

    XZoomedImg.addEventListener("click", ()=>{
        OuterImage.classList.add("Inactive")
        OuterImage.classList.remove("Active")
    });
</script>
<script src="/javascripts/NavigationAdmin.js"></script>

</html>