<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/NavigationAdmin.css">
    <link rel="stylesheet" href="/stylesheets/AdManageRoom.css">
</head>
<body>

    <!-- SIDE BAR -->
    <aside class="Sidebar">
        <div class="LogoHeaderCont">
            <img src="/images/cmulogo.png" alt="CMU LOGO">
            <h1>CMU RRMS</h1>
        </div>
    
    <!-- Sidebar Links -->
        <nav>
            <nav>
                <a href="/AdDashboardRoute" class="SidebarLinks">
                    <i class="fa-solid fa-gauge"></i>
                    <label for="">Dashboard</label>
                </a>
                <a href="/AdCreateAccountRoute" class="SidebarLinks">
                    <i class="fa-solid fa-user-plus"></i>
                    <label for="">Add Account</label>
                </a>
                <a href="/AdManageRoomRoute" class="SidebarLinks active">
                    <i class="fa-solid fa-table-list"></i>
                    <label for="">Manage Rooms</label>
                </a>
            </nav>
        </nav>
    </aside>


    <main class="MainContent">
        <!-- Header Navigation -->
        <header class="HeaderNavigation">
            <!-- dropdown button -->
            <div class="Dropdown">
                <button id="DropdownBtn">
                    <label class="Username">Forlaje</label>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                
                <div id="DropdownContent">
                    <a href="">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <label for="">Logout</label>
                    </a>
                </div>
            </div>
        </header>

        <section class="RoomContainer">

            <% Summary.forEach((room) => { %>
                <div class="Room">
                    <h3><%= room.RoomName %></h3>
                    <nav>
                        <a href="/AdManageRoomRoute/Reservation/<%= room.RoomId%>">Reservation Request: <i><%= room.Pending %></i></a>
                        <a href="/AdManageRoomRoute/Active/<%= room.RoomId%>">Accepted Reservations: <i><%= room.Accepted %></i></a>
                        <a href="/AdManageRoomRoute/DueReport/<%= room.RoomId%>">Due Reservation Reports: <i><%= room.DueReport %></i></a>
                        <a href="/AdManageRoomRoute/History/<%= room.RoomId%>">Reservation History: <i><%= room.Accepted %></i></a>
                    </nav>
                </div>
            <% }) %>
            
            
        </section>
        
        
        

    </main>

    
</body>
<script src="/javascripts/NavigationAdmin.js"></script>
</html>